.footer {
    margin-top: 5rem;
    background-image: linear-gradient(to bottom right, 
    rgba($color-secondary, .8), 
    rgba($color-primary-dark, .8));
    border-radius: .5rem;

    @include respond(phone){
        background-image: linear-gradient(to bottom right, 
        rgba($color-secondary, .8) 30%, 
        rgba($color-primary-dark, .8) 60%,
        rgba($color-secondary, .8) 90% );
    }

    h4 {
        font-size: 4rem;
        text-align: center;
        text-shadow: 1px 1px 0px $color-black;
        @include respond(phone){
            
            font-size: 3rem;
        }
}
}

