.composition {
    position: relative;
    margin-bottom: 5rem;

    &__photo {

        width: 50%;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;   

        &--1 {
            left: -.5rem;
            top: -1rem;
        }
        &--2 {  
            right: 2rem;
            top: 2rem;

        }
        &--3 {
            top: 13rem;
            left: 10rem;  
        }

        
    &:hover {
        z-index: 20;
        outline: 1.5rem solid $color-primary-light;
        transform: scale(1.1) translateY(-.5rem);  
        box-shadow: 0 1.5rem 4rem rgba($color-black, .8); 
        
    }



    }

    &:hover &__photo:not(:hover){
        transform: scale(.95);
        filter: blur(1px);
    }

}