.section-about {
    // background-image: linear-gradient(to bottom right, rgba($color-secondary-light, .8), rgba($color-secondary-dark, .8));
    background-image: linear-gradient(110deg, 
    rgba($color-secondary-light, .8)20%, 
    rgba($color-secondary-dark, .8)40%,
    transparent 50%,
    rgba($color-secondary-light, .8)80%, 
    rgba($color-secondary-dark, .8)100%
    );
    
    padding: 1rem 0;
    border-radius: .4rem;   
    height: 100vh;
    

    @include respond(tab-port){
        height: auto;
    }

        p {              
        color: blue;
        &:hover {
            -webkit-transform: scale(1.1);
            @include respond(tab-port){
            -webkit-transform: scale(1);
            }
        }

        @include respond(tab-land){
            padding: 1rem;
            font-size: 1.5rem;
        }

        @include respond(tab-port){
            font-size: 3rem;
        }
    }

}

.section-card {
    margin: 10rem 0;
    
}

